<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Test Project!
  </h1>
</div>
<div *ngIf="showMessage" class="text-center">{{message}}</div>
<div class="text-center"><button class="btn btn-primary" (click)="done()">Done</button></div>
<div class="container">
  <div class="row">
    <div class="col-md-6"
      [dndList]
      [dndPlaceholder]="placeholder"
      [dndModel]="simpleList[0]">
      <div *ngFor="let item of simpleList[0]"
        class="col-md-12"
        [dndType]="'item'"
        (dndMoved)="removeItem(item, simpleList[0])"
        [dndDraggable]
        [dndObject]="item">{{item.name}}</div>
    </div>
    <div class="col-md-6"
      [dndList]
      [dndModel]="simpleList[1]"
      [dndPlaceholder]="placeholder">
      <div *ngFor="let item of simpleList[1]; index as i"
        class="col-md-12 cell-background"
        [dndType]="'item'"
        (dndMoved)="removeItem(item, simpleList[1])"
        [dndDraggable]
        [dndObject]="item">{{(i + 1)}}: {{item.name}}</div>
    </div>
  </div>


